<% if current_user && current_user.try(:role) == "Agent" %>
  Logged in as <%= current_user.email %> <%= current_user.role %>
<%= link_to 'Log Out', logout_path %>



<% elsif current_user && current_user.try(:role) == "Admin" %>
  Logged in as <%= current_user.email %> <%= current_user.id %>

<%= current_list %>
  <br/>
    <%= link_to 'Add new user', signup_path %>

<%= link_to 'Log Out', logout_path %>


<% else %>
  <%= link_to 'Sign Up', signup_path %> or
  <%= link_to 'Log In', login_path %>
<% end %>

<p id=”notice”><%= notice %></p>
