<% if current_user && current_user.try(:role) == "Agent" %>
  Logged in as <%= current_user.email %> <%= current_user.role %>
<%= link_to 'Log Out', logout_path %>



<% elsif current_user && current_user.try(:role) == "Admin" %>
  Logged in as <%= current_user.email %> <%= current_user.id %>

<%= current_list %>
  <br/>
    <%= link_to 'Add new user', signup_path %>

<%= link_to 'Log Out', logout_path %>


<% else %>

  <script type="text/javascript">
      window.location.href="/login"  // put your correct path in a string here
  </script>

<% end %>


<p id=”notice”><%= notice %></p>
